.searchBarContainer {
  position: fixed;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 24px;
}

.searchBarContainer > div {
  background-color: #fff;
}
